<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnStringLocal" connectionString="Server=localhost;Database=Academia;Integrated Security=false; User=net; Password=net;"
      providerName="System.Data.SqlClient" />
    <add name="ConnStringExpress" connectionString="Server=EMICORTEZ-HP\SQLCORTEZ;Database=Academia;Integrated Security=false; User=emiliano; Password=435786"
      providerName="System.Data.SqlClient" />
    <add name="ConnStringServerISI" connectionString="Server=serverisi; Database=Academia; Integrated Security=false; User=net; Password=net;"
      providerName="System.Data.SqlClient" />
    <add name="UI.Desktop.Properties.Settings.AcademiaConnectionString"
      connectionString="Data Source=ANDRÉS;Initial Catalog=Academia;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>